@charset "utf-8";
main{
    min-width: 280px;
    max-width: 940px;
    margin: auto;
    padding: 20px;
}

label{
    font-size: 20px;
    display:block;
}
.input-padrao , textarea{
    display: block;
    margin: 10px 0px 20px 0px;
    width:50%;
    padding:11px 20px ;
    font-size:17px;
}
.label-radio{
    margin-bottom:10px;
    font-size:19px;
   
}
fieldset{
    border: none;
    margin-bottom: 20px;
}
legend{
    font-size:20px;
    margin-bottom:15px;
    
}
select{
    padding:3px 10px;
    margin-bottom: 20px;
    
}

.btn{
    padding: 15px 0px;
    width:40%;
    margin:30px 25px ;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size:18px;
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
    transition: 0.5s all;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn:hover{
    transform: scale(1.1);
}

table{
    border-spacing: 0px;
    margin-left:28px;
    margin-bottom: 40px;
    text-align: center;
}
thead{
    background-color: #606060;
    color: white;
    font-weight: bold;
}
th , td {
    padding: 10px 20px;
    border: 1px solid black;
}

/*Mobile*/

@media screen and (max-width:560px) {
    .input-padrao , textarea{
        width:84%;
    }
    legend{
        font-size:18px;
    }
    label{
        font-size: 18px;
    }
    
    .btn{
        width:100%;
        margin:30px 0px;
    }
}