@charset "utf-8";

main{
    min-width:280px;
    max-width:940px;
    margin: auto;
    padding:30px 20px;
    
}
/*Contato*/
form{
    max-width:600px;
}

form label{
    display: block;
    font-size:20px;
    margin-bottom: 10px;
}

.input-padrao  {
    display: block;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    width:100%;
    
}

#checkbox{
    margin-top:20px;
    margin-bottom:20px ;
}

fieldset{
    border: none;
    margin-top: 10px;
}
legend{
    margin-bottom: 10px;
    font-size: 20px;
    
}
select{
    padding:5px 10px 5px 10px;
    border-radius: 5px;
}
.enviar{
    width:50%;
    padding:15px 0px;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius:10px;
    border: none;
    text-transform: uppercase;
    transition:0.5s all;
    cursor: pointer;
}
.enviar:hover{
    background-image: linear-gradient(to right, #ffb347 50%, #ffcc33  10%, #ffb347  30%);
    transform: scale(1.1);
}




/*Tabela*/

table{
    padding:40px 0px 0px 0px;
    border-spacing: 0px;
    
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
    
}
td , th{
    border: 1px solid black;
    padding:8px 15px;
}

@media screen and (max-width:570px) {
    main{
        min-width:280px;
        max-width:940px;
        margin: auto;
        padding:30px 10px;
    }
    form{
        width:100%;
    }
    .input-padrao{
        width:100%;
    }
    fieldset{
        width:100%;
        border: none;
    }
    .enviar{
        margin-top: 15px;
        width:100%;
    }
    .enviar:hover{
        transform: scale(1.0);
    }
   
}

