@charset "utf-8";

main{
    min-width:280px;
    max-width:940px;
    margin: auto;
    
}

form{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:30px;
    margin-right:30px;
}

form label{
    display: block;
    font-size:20px;
    margin-bottom: 10px;
}

.input-padrao  {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px 10px 25px;
    width:50%;
    
}

#checkbox{
    margin-top:20px;
    margin-bottom:20px ;
}

.enviar{
    width:50%;
    padding:15px 0px;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius:10px;
    border: none;
    text-transform: uppercase;
    transition:0.5s all;
    cursor: pointer;
}
.enviar:hover{
    background-image: linear-gradient(to right, #ffb347 50%, #ffcc33  10%, #ffb347  30%);
    transform: scale(1.1);
}

fieldset{
    border: none;
    margin-top: 10px;
}
legend{
    margin-bottom: 10px;
    font-size: 20px;
    
}
select{
    padding:5px 10px 5px 10px;
    border-radius: 5px;
}


@media screen and (max-width:570px) {
    form{
        width:75%;
        margin-top:40px;
        margin-bottom:40px;
        margin-left:20px;
        margin-right:20px;
    }
    .input-padrao{
        width:100%;
    }
    fieldset{
        width:95%;
        border: none;
    }
    legend{
        width:250px;
    }

    .enviar{
        margin-top: 15px;
        width:100%;
    }
   
}

