@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Produtos*/

ul.produtos{
    min-width:300px;
    max-width: 940px;
    margin: auto;
    padding: 50px 0px 50px 0px;
}


ul.produtos li.itens-barbearia {
    display: inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    margin: 0px 1.1%;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius:10px
}

ul.produtos li.itens-barbearia:hover{
    border: 2px solid goldenrod;
}
ul.produtos li.itens-barbearia:active{
    border: 2px solid green;
}
ul.produtos li.itens-barbearia:hover h2{
    color: goldenrod;
    font-size:31px;
}
ul.produtos li.itens-barbearia:active h2{
    font-size:31px;
}

.img-produtos{
    width: 100%;
}
ul.produtos h2{
    font-size: 30px;
    font-weight: bold;
}


p.produto-descricao{
    font-size: 18px;
}


p.preco{
    font-size:22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width:900px){

    li.itens-barbearia{
        height:415px; 
    }

}
  

@media screen  and (max-width:550px){
    li.itens-barbearia{
        height:300px;
        
    }
    ul.produtos h2{
        font-size:15px;
    }
   
    p.produto-descricao{
        font-size:13px;
    }
    p.preco{
        font-size:15px;
    }
    ul.produtos li.itens-barbearia:hover h2{
    color: goldenrod;
    font-size:16px;
    }
}

