@charset "utf-8";
*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 20px;
}

img#imagem{
    width: 100%;
}

article#principal{
    background-color: #CCCCCC;
    padding:30px;
    margin-top:-5px;
}

.titulo-centralizado{
    text-align: center;
    margin-bottom: 20px;
}

p{
    text-align: center;  
    margin-top: 10px;
    line-height: 1.5em;
}

p#frase-destaque{
    font-size:20px;
}

li.lista{
    font-style: italic;
    font-size: 20px;
}

article#beneficios{
    background-color: white;
    padding:20px 10px 20px 10px;
}


ul{
    display:inline-block;
    vertical-align:top;
    width:25%;
    margin-right:15%;

}
img#imagem-beneficio{
    width:50%;
}